.main .logo{
    height: 50px;
    width: 50px;
    display: flex;
    mix-blend-mode: multiply;
   
    
    
}
.main{
    display: flex;
    padding:10px 10px;
    

}
.main .logo2{
    height: 50px;
    width: 50px;
    left : 105px;
    top:14.5px;
    position: absolute;
    color: rgb(9, 128, 193);
    
    
   
   
}